* {
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
body{
    background-color: #5D5650;
    margin-top: 120px;
}
.sessao3 button {
  font-family: "BenchNine";
  font-style: normal;
  color: white;
  width: 302px;
  height: 54px;
  font-size: 16px;
  background: #b2b74a;
  border: 1px solid #b2b74a;
}
.titulos {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 75px;
  color: #413c38;
}
nav {
  position: fixed;
  height: 35px;
  background-color: #5d5650;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.nav1 img {
  position: relative;
  width: 13px;
  height: 13px;
  margin: 5px;
}
p {
  margin: 2px;
}
.nav1 {
  max-height: 30px;
  max-width: 350px;
  flex-grow: 1;
  display: flex;
  padding: 3px;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
}
.nav2 {
  max-height: 30px;
  width: 100px;
  display: flex;
  box-sizing: border-box;
  margin: 3px;
  align-items: center;
  justify-content: space-around;
}
.nav2 img {
  max-width: 100%;
  height: auto;
  padding: 1px;
}
/*segunda barra de navegação*/
header {
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}
.navbar a {
  width: 96px;
  height: 54px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90px;
  text-align: center;
  color: #858585;
  text-decoration: none;
}
/* toda navbar */
.navbar {
    display: flex;
    height: 89px;
    width: 741px;
    top: 34px;
    margin-right: 100px;
    position: inherit;
    justify-content: space-around;

}
.navbar button {
    background: #B2B74A;
    border: 1px solid #B2B74A;
    border-radius: 0px;
    width: 143px;
    height: 54px;
}
.nav3 {
  background-image: url(imagens/navbar3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
/*footer*/

footer{
  justify-content: center;
  display: flex;
  justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
color:  #D1D1D1;
}
.footer1_2{
  width: 1200px;
display: flex;
justify-content: space-between;
margin-top: 128px;
flex-direction: row;
margin-bottom: 116px;

}
.footer_p1{
  margin-top: 34px;
margin-right: 496px; 
width: 306px;
height: 220px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
}
.footer_p2{
  
width: 231px;
height: 242px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}
.imagemsFooter{
  display: flex;
flex-direction: column;
height: 100%;
justify-content: space-between;
margin-right: 8px;
}
