/*Primeria sessão da pagina incial*/
.sessao1 {
    background-image: url(imagens/inicio/sessao1/banner1.png);
    background-size: cover;
    background-position: center;
    height: 799px;
    position: relative;
    display: flex;
    z-index: 0;
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }

  .sessao1 h1 {
    height: 210px;
    position: absolute;
    font-family: "BenchNine";
    font-style: normal;
    font-weight: 400;
    font-size: 183px;
    line-height: 284px;
    letter-spacing: 7px;
    color: #ffffff;
  }

  .sessao1 h3 {
    position: absolute;
    top: 428px;
    font-family: BenchNine;
    font-size: 29px;
    font-weight: 400;
    color: white;
  }

  .sessao1 button {
    position: absolute;
    height: 50px;
    width: 307px;
    bottom: 93px;
    background-color: #756c66;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  /*Segunda sessão da pagina incial*/
  .sessao2 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 18px;
    padding-left: 18px;
  }

  .sessao2_1 {
    display: flex;
    height: 484px;
    width: 1081px;
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
    margin-top: 54px;
  }

  .sessao2_1 img {
    width: 450px;
    height: 307px;
  }

  .sessao2_2 {
    display: flex;
    width: 1081px;
    margin-top: 54px;
  }

  .sessao2_2 img {
    width: 605px;
    height: 403px;
    margin-left: 35px;
  }

  .textsessao2 {
    display: flex;
    flex-direction: column;
  }

  .sessao2 p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #858585;
  }

  .sessao2 button {
    box-sizing: border-box;
    width: 302px;
    height: 54px;
    background: #b2b74a;
    border: 1px solid #b2b74a;
    border-radius: 0px;
    color: white;
  }

  .sessao2_3 {
    width: 1081px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 78px;
    margin-bottom: 92px;
  }

  /*terceira sesssão da pagina incial*/
  .sessao3 {
    background-color: #262b2b;
    display: flex;
    flex-direction: column;
    height: 620px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .sessao3_1 {
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
  }

  .sessao3_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*fonte*/
    font-family: "BenchNine";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    color: #ffffff;
  }

  /*quarta sessão da pagina incial*/
  .sessao4 {
    background-image: url(imagens/inicio/sessao4/fundosessao4.png);
    background-size: cover;
    background-position: center;
    height: 577px;
    position: relative;
    display: flex;
    z-index: 0;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: white;
  }

  .sessao4_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .sessao4 button {
    width: 303px;
    height: 55px;
    background: #5d5650;
    border: 1px solid #ffffff;
    border-radius: 0px;
    color: white;
    margin-top: 23px;
  }

  /*quinta sessão da pagina incial*/
  .sessao5 {
    display: flex;
    justify-content: center;
  }

  .sessao5_1 {
    width: 1200px;
    height: 687px;
    margin-top: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .baloesformulario {
    background: #b2b74a;
    border: 1px solid #b2b74a;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
  }

  .formulario1 {
    margin-right: 138px;
  }

  .formulario1_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  ::placeholder {
    color: rgb(255, 255, 255);
    font-family: "BenchNine";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .textosessao5 {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 190px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #413c38;
    margin-bottom: 25px;
  }

  .botaosessao5 {
    font-family: "BenchNine";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #b2b74a;
    width: 289px;
    height: 66px;
    border: 1px solid #b2b74a;
    border-radius: 0px;
    margin-top: 31px;
  }
  .infosessao5{
    width: 231px;
            height: 242px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #413c38;
  }